* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 32px;
}
.linkCadastro, .linkAgenda{
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.2s ease;
}
.linkCadastro:hover, .linkAgenda:hover{
    transform: translateY(-2px);
}
.linkLogin{
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 8px;
    border-radius: 6px;
    transition: all 0.2s ease;
}
.linkLogin:hover, .btnSair:hover{
    transform: translateY(-2px);
}
.btnSair{
    color: white;
    text-decoration: none;
    background-color: rgb(230, 62, 62);
    padding: 8PX;
    border-radius: 6px;
    border: none;
    transition: all 0.2s ease;
}
.btnSair:hover{
    transform: translateY(-2px);
}
.btns{
    display: flex;
    align-items: center;
    gap: 24px;
}
.fundoHome{
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 100px;
    margin-bottom: 60px;
}
.conteudoPrinHome{
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 30px;
}
.h1contP{
    font-size: 44px;
}
.imgCampos{
    border-radius: 4px;
}
.imgCamposHome{
    display: flex;
    flex-direction: row;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
}
@media(max-width-1000px){
        .imgCamposHome{
           flex-wrap: wrap;
           width: 100%;
        }
        .imgCampos{
            width: 100%;
        }
}
.imgCampos2{
    border-radius: 4px;
}
.conteudoSecunHome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
}
@media(max-width:600px){
    .conteudoSecunHome{
        flex-wrap: wrap;
    }
}
.txtContSec{
    width: 40%;
    gap: 40px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.imgCampo{
    height: 400px;
    width: 30%;
    border-radius: 4px;
}
.footerDiv2{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.footerDiv3{
    display: flex;
    flex-direction: column;
}
.footerHome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    border-top: 1px solid rgba(194, 194, 194, 0.751);
    padding-top: 20px;
}
.divModalFundo{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(243, 243, 243, 0.685);
    backdrop-filter: blur(5px);
}
.Modal{
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: #d4d4dc;
    text-align: center;
}
.divBtnModal{
    display: flex;
    justify-content: flex-end;
    gap: 14px;
    margin: 10px 0 0 0
}

.btnNao{
    border: none;
    padding: 6px;
    border-radius: 6px;
    background-color: #A02525;
    color: white
}
.btnNao:hover{
    background-color: #a02525d2;
}
.btnSim{
    border: none;
    border-radius: 6px;
    padding: 6px;
    background-color: #6EBD40;
}
.btnSim:hover{
    background-color: #6ebd40d5;
}
.btnFazerLoginModal{
    border: none;
    color: white;
    border-radius: 6px;
    padding: 6px;
    background-color: #101010;
}
.btnFazerLoginModal:hover{
    background-color: #1010109f;
}
.btnOk{
    border: none;
    border-radius: 6px;
    padding: 6px;
    background-color: white
}
.btnOk:hover{
    background-color: rgb(240, 239, 239);
}
.divIconAlerta{
    display: flex;
    justify-content: center;
}
.btnDisabledAgendar{
    background-color: white;
    border: none;
}
@media(max-width: 580px){
   .Modal{
    height: 40vh;
   } 
}
@media(max-width: 230px){
    .Modal{
        height: 60vh
    }
}
.load{
    animation: loading 1s ease ;
}
@keyframes loading {
    0%{
            opacity: 0;
    }
    100%{
            opacity: 1;
        
    }
}
.linkAdmin{
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 8PX;
    border-radius: 6px;
    transition: all 0.2s ease;
}
.linkAdmin:hover{
    transform: translateY(-2px);
}
