.fundoModal{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(243, 243, 243, 0.685);
    backdrop-filter: blur(5px);  
}
.tituloModalVisualizar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d1cfcf;
    border-radius: 10px 10px 0 0;
    width: 75%;
    padding: 18px;
    z-index: 3;
    text-align: center;
}
.btnFecharModal{
    display: flex;
    border: none;
    background-color: #d1cfcf;
    padding: 12px;
    color: red;
}
.modal{
    padding: 12px;
    display: flex;
    flex-direction: column;
    overflow: auto  ;
    gap:6px;
    width: 75%;
    max-width: 75%;
    max-height: 60vh;
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: #d4d4dc;
    text-align: center;
}
.inputSearch{
    width: 75%;
    border-radius: 10px;
}
.divPesquisa{
    display: flex;
    gap: 20px;
}
.divFiltro{
    gap: 12px;
    text-align: center;
    justify-content: center;
}
.divFiltro p {
    text-align: center;
}
.selectFiltro{
    border-radius: 10px;
    height: 25px;
}
.fundoAgendamento{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("/images/imageCampoFutebol.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    padding: 12px;
    text-align: center;
    gap: 12px;
}
.divCimaModal{
    display: flex;
    justify-content: space-between;
}
.divNomeCampo, .agendamentoData, .agendamentoHorario, 
.divStatus, .divAgendamentoUser{
    background-color: #333333; 
    border-radius: 10px;
    padding: 8px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.statusAtivo{
    color: #348648;
}
.statusInativo{
    color: rgb(148, 52, 52);
}
.divNomeCampo p, .agendamentoData p, .agendamentoHorario p, .divAgendamentoUser p{
    max-width: 200px;
    color: #348648;
    white-space: nowrap;  
    overflow: hidden;     
    text-overflow: ellipsis; 
}
.divDateTimeAgendamento{
    display: flex;
    gap: 20px;
}
.divPrecoCampo{
    background-color: #333333;
    border-radius: 10px;
    padding: 8px;
}
.divPrecoCampo p{
    color: #348648
}
.divBtnsModalCampo{
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}
.maisInformacoes, .selecionar, .mudarStatus{
    border: none;
    background-color: #0088ff;
    color: white;
    border-radius: 10px;    
    padding: 8px;
}