*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 32px;
}
.divFundo{
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
}
.Cadastro{
    width: 27%;
    height: 80%;
    background-color: #eeeaea;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 36px;
    border-radius: 10px;
}
@media (max-width:700px){
    .Cadastro{
        width: 70%;
    }
}

button{
    cursor: pointer;
}
.formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left:20%;
    gap: 24px;
    margin-bottom: 32px;
}
input{
    background: #e6e0e9;
    border: none;
    border-bottom: 1px solid black;
    height: 44px;
    width: 80%;
    outline: none;
    padding-left: 12px;
}
input:focus{
    border-bottom: 2px solid black;
}
input::placeholder{
    padding-left:2px ;
    color: black;
}
p{
    color: #585858;
    font-weight: 500;
}
.inputs{
        display: flex;
        flex-direction: column;
        gap: 16px;       
}
.btnCadastro{
    color: white;
    background-color: #0088ff;
    border: none;
    border-radius: 24px;
    padding: 6px;
    width: 80%;
}
h2{
    font-size: 32px;
    font-weight: 400;
}
.link{
    color: white;
    background-color: #101010;
    border-radius: 8px;
    padding: 12px;
    text-decoration: none;
}
.errorMsg{
    color: rgb(228, 55, 55)
}
.divLinks{
    display: flex;
    gap: 12px;
}